body{
    background-color: black;
}

@keyframes headerFade {
    from {
        white-space: nowrap;
        overflow: hidden;
        opacity: 0;
        font-size: 200vw;
        
    }
    to {
        white-space: nowrap;
        overflow: hidden;
        opacity: 1.0;
        font-size: 15vw;
    }
}

@keyframes mountainFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1.0;      
    }
} 

.nameHeading{
    background: linear-gradient(0deg,  black, rgb(134, 187, 216), rgb(134, 187, 216), rgb(134, 187, 216), black);
    border-radius: 1%;
    font-size: 15vw;
    
    text-align: center;
    font-family: 'Ariel';
    animation-name: headerFade;
    animation-duration: 1.5s;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: mountainFade;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}

.layer1 {
    background-image: url('./stacked-peaks-haikei.svg')
}

.topnav {
    overflow: hidden;
    background-color: black;
  }
  
  .topnav a {
    display: inline-block;
    list-style-type: none;
    color: #f2f2f2;
    padding: 1%;
    text-decoration: none;
    font-size: 2.8vw;
    
  }
  
  .topnav a:hover {
    background-color: white;
    color: black;
  }





