/*html, body {margin: 0; height: 100%; overflow: hidden;}*/
body{
    background-color: black;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1.0;      
    }
} 

.nameHeading{
    cursor: pointer;
    overflow: hidden;
    font-size: 28px;
    text-align: left;
    font-family: 'Ariel';
    animation-name: fade;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    z-index: 1;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: fade;
    animation-direction: alternate;
    animation-duration: 5.0s;
    animation-timing-function: ease-out;
}

#header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    list-style: none;
    z-index: 1;
}

#header li{
    display: inline-block;
}

.layer1 {
    background-image: url('./stacked-peaks-haikei.svg');
}

.pad {
    padding-top: 10%;
    padding-bottom: 10%;
}

.padsForRefs {
    padding-top: 10%;
}

  .content {
    color: white;
  }

  .content {
    text-align: center;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    
  }

 

  



